body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(192, 192, 192, 0.24);
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

li {
  height: 40px;
  width: 454px;
  border: 1px solid rgba(0, 0, 0, 0.116);
  list-style-type: none;
  background-color: white;
  font-size: 20px;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}
.btn-remove {
  margin-bottom: 15px;
  margin-right: 10px;
}
.todo-list {
  margin: 0;
  padding: 0;
}
#addinput {
  height: 60px;
  width: 450px;
  font-size: 25px;
  border: 1px solid rgba(0, 0, 0, 0.116);
  outline: none;
}
::placeholder {
  color: rgba(0, 0, 0, 0.205);
}
.title {
  font-size: 100px;
  color: rgba(112, 0, 0, 0.185);
}
.text-content {
  padding-left: 20px;
  width: 100%;
}
.complete-task {
  text-decoration: line-through;
  text-decoration-color: rgba(192, 192, 192, 0.5);
  color: rgba(192, 192, 192, 0.5);
}
.hide {
  display: none;
}
.show {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 454px;
  border: 1px solid rgba(0, 0, 0, 0.116);
  background-color: white;
}
.clear-checked {
  margin-right: 5px;
}
#total {
  margin-left: 5px;
}
